body {
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}
.sweepline {
	fill: none;
	stroke: #99f;
	stroke-width: 2px;
	stroke-linecap: round;
}
.sweeprect {
	fill: url(#sweepline);
}
.line {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
.point {
	fill: #999;
}
.intersection {
	fill: none;
	stroke: #157;
	stroke-width: 2px;
}
.guibackground {
	fill: #939;
}
.button {
	fill: url(#button);
	cursor: pointer;
}
.button:hover { fill: url(#buttonhover); }
.button:active { fill: url(#buttonactive); }
.buttonText {
	fill: #fff;
	pointer-events: none;
	font-weight: bold;
	text-shadow: #525 2px 2px 4px;
}

