body {
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}
.sweepline {
	fill: none;
	stroke: #99f;
	stroke-width: 2px;
	stroke-linecap: round;
}
.sweeprect {
	fill: url(#sweepline);
}
.line {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
.point {
	fill: #999;
}
.intersection {
	fill: none;
	stroke: #157;
	stroke-width: 2px;
}
.button {
	color: #157;
	border: 2px solid #bbb;
	background: #eee;
	padding: 8px;
	text-align: center;
	width: 100px;
	cursor: pointer;
	-webkit-border-radius: 8px;
	font-weight: bold;
}
.button:hover { background: #f3f3f3; }
.button:active { background: #f9f9f9; }

